<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1></h1>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li>
          <a href="#" tooltip="{{thing.info}}">{{thing.name}}
            <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
          </a>
        </li>
      </ul>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="product in products">
        <li>
          <a href="#" tooltip="{{product.info}}" ng-click="editProduct(product)">{{product.name}}
            <button type="button" class="close" ng-click="deleteProduct(product.name,product)">&times;</button>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <form class="product-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Name" ng-model="product.name">
      <input type="text" class="form-control" placeholder="SKU" ng-model="product.sku">
      <input type="text" class="form-control" placeholder="SKU" ng-model="product.category">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add New</button>
      </span>
    </p>
  </form>
</div>
