<div ng-controller="NavbarCtrl">
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Dashboard</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a>
          <form id="searchForm" class="ng-scope ng-pristine ng-valid">
            <div class="nav-search" id="nav-search">
              <span class="input-icon">
                <script type="text/ng-template" id="searchTemplate.html">
                    <a><span>{{match.model.name}}</span></a>
                </script>
                <input class="form-control ng-pristine ng-valid" type="text" name="q" id="q" autocomplete="off"
                placeholder="Search for a product, category or brand..."
                ng-model="search"
                typeahead="p as p.name for p in globalSearch($viewValue)"
                typeahead-loading="loadingLocations"
                typeahead-no-results="noResults"
                typeahead-template-url="searchTemplate.html"
                typeahead-on-select="onSelectProduct($item, $model, $label)"
                class="nav-search-input ng-pristine ng-valid ng-touched"
                style="width: 500px;" autofocus=""
                >
                <i class="search-icon fa fa-search nav-search-icon"></i>
                <span class="input-group-btn">
                </span>
              </div>
            </span>
          </form>
            </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>

        <li class="dropdown" ng-show="isLoggedIn()" dropdown="">
          <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard">&nbsp;</i>Dashboard<b class="caret"></b>
            </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-show="isAdmin()" ng-class="{active: isActive('/product')}">
              <a href="/product"><i class="fa fa-truck">&nbsp;</i>Products</a>
            </li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/category')}">
              <a href="/category"><i class="fa fa-ticket">&nbsp;</i>Categories</a>
            </li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/brand')}">
              <a href="/brand"><i class="fa fa-tag">&nbsp;</i>Brands</a>
            </li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/order')}">
              <a href="/order"><i class="fa fa-road">&nbsp;</i>Orders</a>
            </li>
            <li class="divider"></li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/customer')}">
              <a href="/customer"><i class="fa fa-user">&nbsp;</i>Customers</a>
            </li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
              <a href="/settings"><i class="fa fa-wrench">&nbsp;</i>Change Password</a>
            </li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
              <a href="" ng-click="logout()"><i class="fa fa-sign-out">&nbsp;</i>Logout</a>
            </li>
            <li class="divider"></li>
            </ul>
        </li>
        <li><a class="btn" ng-click="openCart(cart,'lg');" href=""><i class="fa fa-opencart">&nbsp;</i> Cart ({{cart.getTotalCount()}}) - {{cart.getTotalPrice() | currency:"$"}}</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Megamenu -->
<div class="navbar navbar-default navbar-static-top megamenu">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed1 = !isCollapsed1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Categories</a>
    </div>
    <div collapse="isCollapsed1" class="navbar-collapse collapse" id="navbar-main2">
      <ul class="nav navbar-nav">
        <li ng-repeat= "p in categories" class="dropdown megamenu-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{p.name}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="grid-demo">
              <div class="row">
                <div class="col-sm-3" ng-repeat="c in p.sub_categories"><a href="/Category/{{c.slug}}/{{c._id}}">{{c.name}}</a></div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

</div>
