<div class="container">
<div class="row">
  <div class="col-sm-12 text-center">
    <ol class="breadcrumb">
        <li><a ui-sref="main" href="">Home</a></li>
        <li ng-repeat="b in breadcrumb.items | reverse">
            <a href="/" ng-if="!$last">{{b.name}}</a>
            <span ng-if="$last">{{b.name}}</span>
        </li>
    </ol>
  </div>
    <hr class="clearfix"/>
</div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <image ng-src="http://s.angularcode.com/img/{{product.variants[i].image}}" alt="{{product.slug}}" width="320" height="320" class="pull-left" style="margin-right:30px;"/>


        <table>
            <tbody><tr>
                <th width="100px">Name</th>
                <td><h4>{{product.name}} {{product.variants[i].size}}</h4></td>
            </tr>
            <tr>
                <th>Brand</th>
                <td><h4>
                        <span>{{product.brand.name}}</span>
                        <button ng-click="navigate('Brand',product.brand);" style="font-size: 12px; font-weight: normal; padding-left: 10px; color: #069;">View All products</button>
                    </h4></td>
            </tr>
            <tr>
                <th>Category</th>
                <td><h4>
                        <span>{{product.category.name}}</span>
                        <button ng-click="navigate('Category',product.category);" style="font-size: 12px; font-weight: normal; padding-left: 10px; color: #069;">View All products</button>
                    </h4></td>
            </tr>
            <tr> <th>MRP</th> <td><del>Rs {{product.variants[i].mrp}}</del></td> </tr>
            <tr> <th><h4>For You</h4></th>  <td> <h4>Rs {{product.variants[i].price}}</h4> </td> </tr>
            </tbody>
        </table>
        <hr/>
         <div class="itemB" ng-repeat="v in product.variants" ng-click="changeIndex($index);" ng-if="v.size!=product.variants[i].size">
            <div class="itemImage">
                <a href=""><img src="img/{{product.category}}/{{v.image}}" alt="{{product.name}}" width="140" height="140"></a>
            </div>

            <div class="itemName">
                <a href="">
                    <span>{{product.name}}  </span>
                </a><span class="packing">{{v.size}}</span>
            </div>

            <div class="itemPrice">
                <span>{{v.price | currency : 'Rs '}}</span> <span class="slash" ng-if="v.price!=v.mrp">{{v.mrp | currency : 'Rs '}}</span>
            </div>

            <div class="addButton">
                <img src="img/addtocartred.png" class="addButton" alt="Add" ng-click="cart.addItem(product.sku, product.name, v.mrp, product.price, 1, v.image,product.category, v.packing ,true);" ng-show="checkCart(product.sku)">

                <img src="img/deletered.png" class="decrease" alt="Plus" ng-click="cart.addItem(product.sku, product.name, v.mrp, v.price, -1)" ng-hide="checkCart(product.sku)">

                <span class="counter" style="display: inline-block;" ng-hide="checkCart(product.sku)">{{getQuantity(product.sku);}}</span>

                <img src="img/addedred.png" class="increase" alt="Minus" ng-click="cart.addItem(product.sku, product.name, v.mrp, v.price, +1)" ng-hide="checkCart(product.sku)">
            </div>
            </div>
        </div>
    </div>
        <br/>
        <hr/>
    <div class="row">
        <div infinite-scroll='scroll()' infinite-scroll-disabled='products.busy' >
        <div class="itemB" ng-repeat="product in products.items">
            <div class="itemImage">
                <a href=""><img src="img/{{product.category}}/{{product.variants[0].image}}" alt="{{product.name}}" width="140" height="140"></a>
            </div>

            <div class="itemName">
                <a href="">
                    <span>{{product.name}}  </span>
                </a><span class="packing">{{product.variants[0].size}}</span>
            </div>

            <div class="itemPrice">
                <span>{{product.variants[0].price | currency : 'Rs '}}</span> <span class="slash" ng-if="product.variants[0].price!=product.variants[0].mrp">{{product.variants[0].mrp | currency : 'Rs '}}</span>
            </div>

            <div class="addButton">
                <img src="img/addtocartred.png" class="addButton" alt="Add" ng-click="cart.addItem(product.sku, product.name, product.mrp, product.price, 1, product.image,product.category, product.packing ,true);" ng-show="checkCart(product.sku)">

                <img src="img/deletered.png" class="decrease" alt="Plus" ng-click="cart.addItem(product.sku, product.name, product.mrp, product.price, -1)" ng-hide="checkCart(product.sku)">

                <span class="counter" style="display: inline-block;" ng-hide="checkCart(product.sku)">{{getQuantity(product.sku);}}</span>

                <img src="img/addedred.png" class="increase" alt="Minus" ng-click="cart.addItem(product.sku, product.name, product.mrp, product.price, +1)" ng-hide="checkCart(product.sku)">
            </div>
        </div>
        <div ng-show='products.busy'>Loading data...</div>
        </div>
    </div>
</div>
