<link rel="stylesheet" href="bower_components/angular-tablesort/tablesort.css" />
<form name="product_form">

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1></h1>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-danger fa fa-plus" ng-click="edit({});">&nbsp;Add New</button>
      <button type="submit" class="btn btn-info fa fa-save" ng-click="save(product);">&nbsp;    Save</button>
      &nbsp;&nbsp;<a ui-sref="productDetail({id:product._id, slug:product.slug})">{{product.name}}</a>
      <hr/>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8">
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" role="form">
      <div class="form-group">
          <div class="col-md-7">
              <div class="form-group row">
                  <label for="id" class="col-md-1 control-label">ID</label>
                  <div class="col-md-2">
                      <input ng-model="product.id" type="text" disabled="" style="width:50px" class="form-control" placeholder="ID"/>
                  </div>
                  <label for="sku" class="col-md-1 control-label">SKU</label>
                  <div class="col-md-3">
                      <input ng-model="product.sku" type="text" style="width:80px" class="form-control" placeholder="SKU"/>
                  </div>
                  <label for="name" class="col-md-2 control-label">Name</label>
                  <div class="col-md-3">
                      <input ng-model="product.name" type="text" style="width:400px" class="form-control" placeholder="Name"/>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    Category: <select ng-model="product.category" ng-options="option.name for option in categories | orderBy:'name' track by option._id" class="form-control">
                        <option value="">Select Category</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    Brand: <select ng-model="product.brand" ng-options="i.name for i in brands | orderBy:'name' track by i._id" class="form-control">
                        <option value="">Select Brand</option>
                    </select>
                  </div>
              </div>
          </div>
      </div>
  </form>



  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Product Variants</div>
  <div class="panel-body">
    <table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Size</th>
            <th>MRP</th><!--  ts-default -->
            <th>Price</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in product.variants track by $index" id="{{p._id}}">
            <!-- <td><img src="img/{{p.category}}/{{p.image}}"/> </td>-->
            <td>{{$index+1}}</td>
            <td><input type="text" ng-model="p.size" style="width:70px;"/></td>
            <td><input type="text" ng-model="p.mrp" style="width:70px;"/></td>
            <td><input type="text" ng-model="p.price" style="width:70px;"/></td>
            <td><input type="text" ng-model="p.image" style="width:150px;"/></td>
            <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="delete(p);"></button>
                </div>
            </td>
        </tr>
        <tr>
            <!-- <td><img src="img/{{p.category}}/{{p.image}}"/> </td>-->
            <td>New</td>
            <td><input type="text" ng-model="variant.size" style="width:70px;"/></td>
            <td><input type="text" ng-model="variant.mrp" style="width:70px;"/></td>
            <td><input type="text" ng-model="variant.price" style="width:70px;"/></td>
            <td><input type="text" ng-model="variant.image" style="width:150px;"/></td>
            <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="delete(p);"></button>
                </div>
            </td>
        </tr>
    </tbody>
    </table>
</div>
</div>


</div>

<div class="col-md-4">
<div class="panel panel-primary">
  <div class="panel-heading">List of products
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input placeholder="Filter products list ..." class="nav-search-input" ng-model="filter" autocomplete="off" type="text" autofocus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <div infinite-scroll='loadMore()'>
    <table class="table table-striped table-responsive" ts-wrapper>
    <thead>
        <tr>
            <th ts-criteria="id" ts-default="descending">ID</th>
            <th ts-criteria="name">Name</th>
            <th ts-criteria="active">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in products | filter:filter | limitTo:10" id="{{p._id}}" animate-on-change='p.price+p.quantity+p.packing+p.name' ng-animate="'animate'" ts-repeat>
            <!-- <td><img src="img/{{p.category}}/{{p.image}}"/> </td>--><td>{{$index+1}}</td><td><a href=""  ng-click="productDetail(p);">{{p.name}}</a></td>
            <td>
                <button class="btn" ng-class="{true:'btn-success', false:''}[p.active]" ng-click="changeActive(p);">{{p.active | active}}</button>
            </td>
        </tr>
    </tbody>
    </table>
</div> <!-- Infinite Scroll -->
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</form>
