<crud-table api='Category' cols='["name","info","parent","image","active"]'></crud-table>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1></h1>
      <div class="table-responsive">
      <div class="panel panel-primary">
        <div class="panel-heading">List of category
            <div class="sw-search" >
                  <div class="nav-search" id="nav-search">
                          Filter: <span class="input-icon">
                              <input placeholder="Filter list ..." class="nav-search-input" ng-model="q" autocomplete="off" type="text" style="width:300px;" autofocus>
                              <i class="search-icon fa fa-search nav-search-icon"></i>
                          </span>
                  </div>
              </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-danger" ng-click="edit({});">New <i class="fa fa-plus"></i> </button>
                <button type="button" class="btn btn-warning">Hide columns <i class="fa fa-eye"></i> </button>
                <button type="button" class="btn btn-primary">Export as <i class="fa fa-edit"></i> </button>
                <span class="pull-right hidden-xs"> Filtered <b> 5 </b> of Total <b>12</b> </span>
              </div>
            </div>
          </div>
        <div class="panel-body">
           <table class="table table-striped" ts-wrapper>
          <tr ng-hide="category.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

          <thead>
              <tr>
                  <th ts-criteria="id|parseFloat" ts-default="descending">ID</th>
                  <th ts-criteria="name|lowercase">Name</th>
                  <th ts-criteria="info|lowercase">Description</th>
                  <th ts-criteria="parent">Parent</th>
                  <th ts-criteria="uid">User</th>
                  <th ts-criteria="created">Date Added</th>
                  <th ts-criteria="status">Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="p in category.slice().reverse()" id="{{p._id}}" ts-repeat>
                  <td>
                      <button class="btn" ng-class="{true:'btn-success', false:''}[p.active]" ng-click="changeActive(p);">{{p.active | active}}</button>
                  </td>
                  <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default fa fa-edit" ng-click="edit(p);"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="delete(p);"></button>
                      </div>
                  </td>
              </tr>
          </tbody>
          </table>
      </div>
      </div>
      </div>


    </div>
</div>
</div> -->
