<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="box">
            <h1>New account</h1>

            <p class="lead">Not our registered customer yet?</p>
            <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
            <p class="text-muted">If you have any questions, please feel free to <a href="/contact">contact us</a>, our customer service center is working for you 24/7.</p>

            <hr>

            <form ng-submit="register(form)" novalidate name="form">
              <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
                <label>Name</label>

                <input type="text" name="name" class="form-control" ng-model="user.name"
                       required placeholder="Your name"/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                  A name is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                  'has-error': form.email.$invalid && submitted }">
                <label>Email</label>

                <input type="email" name="email" class="form-control" ng-model="user.email"
                       required
                       mongoose-error placeholder="Email ID"/>
                <p class="help-block" ng-show="form.email.$error.email && submitted">
                  Doesn't look like a valid email.
                </p>
                <p class="help-block" ng-show="form.email.$error.required && submitted">
                  What's your email address?
                </p>
                <p class="help-block" ng-show="form.email.$error.mongoose">
                  {{ errors.email }}
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                  'has-error': form.password.$invalid && submitted }">
                <label>Password</label>

                <input type="password" name="password" class="form-control" ng-model="user.password"
                       ng-minlength="3"
                       required
                       mongoose-error placeholder="Password"/>
                <p class="help-block"
                   ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                  Password must be at least 3 characters.
                </p>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                  {{ errors.password }}
                </p>
              </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Sign up</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="" href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>

  </div>
  <hr>
</div>
