<link rel="stylesheet" href="bower_components/angular-tablesort/tablesort.css" />

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1></h1>
      <div class="table-responsive">
      <div class="panel panel-primary">
        <div class="panel-heading">List of {{title}}
            <div class="sw-search" >
                  <div class="nav-search" id="nav-search">
                          Filter: <span class="input-icon">
                              <input placeholder="Filter list ..." class="nav-search-input" ng-model="filter" autocomplete="off" type="text" style="width:300px;" autofocus>
                              <i class="search-icon fa fa-search nav-search-icon"></i>
                          </span>
                  </div>
              </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-danger" ng-click="edit({});">New <i class="fa fa-plus"></i> </button>
                <button type="button" class="btn btn-warning">Hide columns <i class="fa fa-eye"></i> </button>
                <button type="button" class="btn btn-primary">Export as <i class="fa fa-edit"></i> </button>
                <span class="pull-right hidden-xs">
                  <div ng-hide="data.length>-1"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</div>&nbsp;
                  <b>{{data.length}}</b> {{title}} found
                </span>
              </div>
            </div>
          </div>
        <div class="panel-body">
           <table class="table table-striped" ts-wrapper>
          <thead>
              <tr>
                <th>#</th>
                <th ng-repeat="c in cols" ts-criteria="{{c.heading}} | {{c.sortType}}">
                  {{c.heading | labelCase}}
                </th>
                <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <!-- <i class="fa fa-cog fa-spin fa-2x" ng-if="loadingTable"></i> -->
              <tr ng-repeat="p in data.slice().reverse() | filter:filter track by p._id" id="{{p._id}}" ts-repeat>
                  <td>{{$index+1}}</td>
                  <td ng-repeat="c in cols" ng-switch="c.dataType">
                      <span ng-switch-when="boolean">
                        <button class="btn" ng-class="{true:'btn-success', false:''}[p[c.heading]]" ng-click="changeActive(p);">{{p.active | active}}</button>
                      </span>
                      <span ng-switch-when="date">
                        {{p[c.heading] | amCalendar}}
                      </span>
                      <span ng-switch-when="currency">
                        {{p[c.heading] | currency}}
                      </span>
                      <span ng-switch-when="image">
                        <img src="img/{{p.image}}"/>
                      </span>
                      <span ng-switch-default>
                        {{p[c.heading]}}
                      </span>
                  </td>
                  <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default fa fa-edit" ng-click="edit(p);"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-confirm-message="Are you sure to delete?" ng-confirm-click="delete(p)" item="p"></button>
                      </div>
                  </td>
              </tr>
          </tbody>
          </table>
      </div>
      </div>
      </div>
    </div>
</div>
</div>
